{% extends "root.html" %}
{% block active2 %} class="active" {% endblock %}
{% block MAIN %}

        <div class="col-md-9">
        {% block container%}{% endblock %}
        </div>
        <div class="col-md-3">
        {% block sidebar %}{% endblock %}
        {% include 'sidebar.html '%}
        </div>
        <div class="self-other-contain">

            <div class="self-return" title="返回顶部"></div>
            <a href="{% url 'bug' %}" target="_blank"><div class="self-bug" title="Bug提交"></div></a>
        </div>

	<script src="{{ STATIC_URL }}js/blog.js"></script>
            <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'sybing'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{% endblock %}