  <!DOCTYPE html>
  <html>
  <head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="这是www.sybing.com jwfy 的个人网站 采用的是django1.5开发而成 喜欢学习新的知识">
    <meta name="keywords" content="写代码,python django stackoverflow html5 css javascript C++ mysql">
    <title>{% block title %}jwfy{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/metro-bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
    <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  </head>
  <body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}">Jwfy 的博客</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li  {% block active1 %}{% endblock %}><a href="{% url 'index' %}">首页</a></li>
      <li  {% block active2 %}{% endblock %}><a href="{% url 'blog' %}">博客</a></li>
      <li  {% block active3 %}{% endblock %}><a href="{% url 'music' %}">音乐</a></li>
	   <li class="dropdown" >
        <a href="/resume" class="dropdown-toggle" data-toggle="dropdown">简历 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://cv.qiaobutang.com/r/535cbf140cf265c634fb68b6" target="_blank">中文</a></li>
          <li><a href="#" target="_blank">英文</a></li>
        </ul>
	   </li>
      <li  {% block active4 %}{% endblock %}><a href="{%  url 'about' %}">关于</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="containered bs-docs-containered-ed" style="margin-top:20px">
{% block pic %}{% endblock %}
    <div class="row">
        {% block MAIN %}{% endblock %}
    </div>
</div>
{% block foot %}
<div class="self-foot">
<div class="cen">
Copyright © 2014 <a href="http://www.sybing.com" title="个人博客网站">jwfy</a> 版权归本人所有
</div>
<div class="cen">
本网站利用django搭建而成，其中使用了bootstrap，markdown，SyntaxHighlighter 等开源项目，感谢以上开源大牛！！！
</div>
</div>
{% endblock %}
</body>

</html>
