<html>
<head>
<meta charset="utf-8">
<title>来自sybing的Bug邮提醒</title>
</head>
<body style="font-family: Dengxian, 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti; background-color: #FFF; padding: 0; color: #5e5e5e; margin: 0; -ms-text-size-adjust: none;">
<body style="font-family: Dengxian, 'Microsoft Yahei', Tahoma, Arial, Helvetica, Simsun, STHeiti; background-color: #FFF; padding: 0; color: #5e5e5e; margin: 0; -ms-text-size-adjust: none;">
	<div class="header" style="background-color: #2E8BCC; margin-left: auto; margin-right: auto; padding: 20px 20px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #eeeeee; color:#ffffff">
    	BUG提交提醒邮件 | jwfy的个人博客小站 <a href="#" style="color:#ffffff">点击进入</a>
    </div>
    <div class="container" style="width: 95%; background-color: #FFF; margin: 0 auto; padding: 40px 20px;">
    	<div class="title" style="background-color: #eeeeee; font-size: 18px; color: #1d8dcd; text-align: center; border-top-width: 2px; border-top-style: solid; border-top-color: #1d8dcd; width: 90%; padding: 15px 0; margin: 0 auto;">
        	<span>Bug提醒</span>
        </div>
      	<div class="content" style="background-color: #f9f9f9; padding: 10px 0; width: 90%; margin: 0 auto;">
          <div class="main" style="padding: 0 10px 20px; font-size: 14px;">
              <span style="display: block; padding: 5px 0;width:100%">Bug 提交中心  收到了来自{{ name }}新的建议,为表示感谢<a href="Mailto:{{ email }}">给Ta发邮件吧</a></span>
              <div class="reply" style="background-color: #eeeeee; margin: 10px 0px;">
                    <span id="comment" style="display: block; padding: 5px 0; line-height: 49px;">网址：<a href="{{ url }}">{{ url }}</a></span>
                    <span id="comment" style="display: block; padding: 5px 0; line-height: 49px;">内容：{{ contain }}</span>
                    <div class="clearfloat" style="clear:both; height:0; font-size: 1px; line-height: 0px;"></div>
              </div>
              <span style="display: block; padding: 5px 0;"><a href="#" style="color: #1d8dcd; text-decoration: none;">进入系统后台查看详情</a></span>
          </div>
        </div>
	</div>
    <div class="footer" style="font-family: Arial, Helvetica, Simsun, STHeiti; background-color: #95A5A6; padding: 30px 30px; border-top-width: 2px; border-top-style: solid; border-top-color: #eeeeee; text-align: center; font-size: 12px;">
        <span>Designed by <b><i>sybing</i></b> | Copyright 2014 <b><i>sybing</i> Project</span></b>
    </div>
</body>
</html>