.self-jum
{
	margin-left:15px;
	margin-right:15px;
}
.self-row
{
	margin-right:0px;
	margin-left:0px;
}
.self-panel
{
	border:0px;
}
.self-panel-body
{
	padding:0px;
}
.self-form-inp
{
	width:80%;
	float:left;
	padding-right:15px;
}
.self-form-but
{
	width:20%;
	float:left;
}
.self-list-group
{
	margin-bottom:0px;
}
.self-list
{
	width:50%;
	float:left;
}
.self-clean
{
	clear:both;
}
.self-tag
{
	border:1px solid #DDD;
	padding-top:10px;
	color:14px;
	padding-bottom:10px;
	width:100%;
}
.self-tag a
{
	font-size:14px;
	width:auto;
	line-height:20px;
	height:18px;
	margin-left:5px;
	margin-right:5px;
	color:#555;
	float:left;
}
.self-tag a:hover
{
	text-decoration:none;
	color:#428bca;
}
.self-foot
{
	background-color:#bdc3c7;
	width:100%;
	height:100px;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
}
.self-foot .cen
{
	text-align:center;
	font-size:14px;
	color:#FFF;
	line-height:20px;
	height:30px;
}
.cen a
{
	color:#428bca;
}
.col-md-9-def
{
	padding-left:0px;
	padding-right:0px;
}
.col-md-3-def
{
	padding-right:0px;
	padding-left:0px;
}

/*    现在是在文件 blog.html 中*/

.self-panel-default
{
	border:1px solid #ddd;
	background-color:#F9F9F9;
}
.self-panel-head
{
	height:50px;
	font-size:30px;
	padding:0px;
	line-height:50px;
	padding-left:10px;
	border-bottom:1px solid #ddd;
}
.self-panel-head a
{
	color:#000;
}
.self-panel-head a:hover
{
	text-decoration:none;
	color:#428BCA;
}
.self-panel-other
{
	height:30px;
	font-size:16px;
	padding:0px;
	padding-left:10px;
	line-height:30px;
    border-bottom:1px solid #ddd;
}
.self-panel-other-part
{
	margin-right:10px;
	color:E428BCA;
	width:auto;
	float:left;
}
.self-panel-other a
{
	margin-left:2px;
	margin-right:2px;
}
.self-panel-other a:hover
{
	text-decoration:none;
}
.self-panel-body-main
{
/*	min-height:100px;
	max-height:300px;*/
	padding:10px;
}
	
/*   postcoment.html  文件*/
.self-comment-title
{
	height:46px;
	font-size:18px;
	line-height:46px;
	padding-left:15px;
}
.col-md-6 input,textarea
{
	height:46px;
	padding:10px;
	margin-bottom:10px;
	border:2px solid #eee;
	width:100%;
}
.captcha
{
	margin-bottom:10px;
	height:30px;
}
.self-theme
{
	background-color:#f9f9f9;
	padding-bottom:10px;
	margin-top:15px;
}
.self-comment-user
{
	height:30px;
	font-size:16px;
	line-height:30px;
	padding-left:15px;
}
.self-comment-contain
{
	font-size:14px;
	padding-left:15px;
	padding-top:10px;
}

.self-about-main
{
	margin:20px auto;
}
.self-about-title
{
	font-size:20px;
}




