{% extends "root.html" %}
{% block active4 %} class="active" {% endblock %}
{% block MAIN %}
 <div class="col-md-6" id="me">
     <div class="panel panel-primary">
		<div class="panel-heading self-about-title">
			ME
		</div>
		<div class="panel-body">
			<p>姓名：邵杨彬（PS:人称 大嘴）</p>
			<p>学历：现在还是个学生</p>
			<p>E-mail:jwfy0902@hotmail.com</p>
			<p>Weibo:@取个好的ID真难啊</p>
			<p>一句话描述：在码代码的路上继续一坑到底的嫉妒闷骚伪程序猿</p>
		</div>
	 </div>
   </div>
   <div class="col-md-6" id="hobby">
     <div class="panel panel-primary">
		<div class="panel-heading self-about-title">
			HOBBY
		</div>
		<div class="panel-body">
			<p>科幻：喜欢看美国的科幻片</p>
			<p>歌曲：是用来听的，不是唱的</p>
			<p>电脑：绝对没有！！！只是喜欢给合适的妹子装系统，干掉360，QQ管家</p>
			<p>科技：对发明这些的人无限佩服，偶尔自己也YY几下</p>
			<p>电影：钢铁侠 、黑客帝国</p>
			<p>愤青：慢慢的牢骚少了，感慨不再，但还是对前途和钱途充满无限希望</p>
			<p>然后，就没有然后了。。。。</p>
		</div>
	 </div> 
 </div>

    <div class="col-md-6" id="HATE">
     <div class="panel panel-primary">
		<div class="panel-heading self-about-title">
			HATE
		</div>
		<div class="panel-body">
			<p>我先得想想有什么东西值得我去讨厌。。。</p>
		</div>
	 </div> 
 </div>
    <div class="col-md-6" id="web">
     <div class="panel panel-primary">
		<div class="panel-heading self-about-title">
			About WebSite
		</div>
		<div class="panel-body">
			<p>该网站是基于python的Django框架开发，使用mysql数据库</p>
			<p>网站的整体CSS采用的是基于twitter的Bootstrap二次再开发的</p>
			<p>使用中的其他开源项目有：markdown，SyntaxHighlighter，其他待续。。。</p>
			<p>其实网站充满着各种BUG！！！</p>
			<p>github地址：</p>
		</div>
	 </div> 
 </div>
   <div class="col-md-12" id="new">
     <div class="panel panel-primary">
		<div class="panel-heading self-about-title">
			Hello,World
		</div>
	 </div> 
 </div>
{% endblock %}